<div class='modal-header'>
  <h3 class='modal-title'>Leaderboards</h3>
</div>
<div class="modal-body">
  <div ng-show='currentCompletedTime'>
    <h2>Your Time was: </h2>
    <p>{{currentCompletedTime}}</p>
  </div>
  <div ng-hide='currentCompletedTime'>
    <h2>Current Time: </h2>
    <p>{{currentTime}}</p>
  </div>
  <h3>Scores from Array</h3>
  <div>
    <table class="table table-striped">
      <tbody>
      <tr>
      <th>#</th>
      <th>Player</th>
      <th>Time</th>
      </tr>
      <tr ng-repeat='(index, object) in level1ScoresArray | orderBy:"timeCompleted"'>
      <td>
        {{index + 1}}
      </td>
      <td>
        {{object.player}}
      </td>
      <td>
        {{object.timeCompleted}}
      </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class='modal-footer'>
  <button ng-click='ok()' class='btn btn-info'>Close</button>
</div>
